@{
    ViewData["Title"] = "Imagens no Bootstrap";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <button class="btn btn-outline-primary">teste 1</button>
    <button class="btn btn-lg btn-success">teste 2</button>
    <hr class="mt-3" />
    <!--Imagem Responsiva-->
    <img class="img-fluid" src="~/img/t05wskzbft8b1.jpg" />
    <hr class="mt-3" />
    <img class="img-thumbnail" src="~/img/t05wskzbft8b1.jpg" width="200" height="300" />
    <hr class="mt-3" />

    <img class="img-fluid rounded-circle" src="~/img/t05wskzbft8b1.jpg" width="500" height="800" />
    <hr class="mt-3" />
</div>